<h1 class="title">Smartphones</h1>

<table class="table">
  <thead>
    <tr>
      <th><title="Id">Id</th>
      <th><title="Name">Name</th>
      <th><title="Description">Description</th>
      <th><title="Price">Price</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th id="rowID">{{{this.id}}}</th>
      <td><strong>{{{this.name}}}</strong></td>
      <td>{{{this.description}}}</td>
    <td>{{{this.price}}}</td>
    <td>  
        <a href="/edit/{{{this.id}}}"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </td>
    <td >  
        <a id="deleteIcon" href="/delete/{{{this.id}}}"><span class="icon is-small"><i class="fas fa-trash-alt"></i></span></a>
    </td>
        <td >  
        <a id="infoIcon" href="/find/{{{this.id}}}"><span class="icon is-small"><i class="fas fa-question-circle"></i></span></a>
    </td>
    </tr>
        {{/each}}
    
  </tbody>
</table>

  <form action="/find" method="POST">
 <label class="label">Find product</label>
  <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Product Id" name="id" id="id">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
  <br>
  <button type="submit" class="button is-success is-rounded element-margin-top" >Find</button>
</form>

<br><br>
 <a href="/create" type="button" class="button is-success is-rounded" id="addProduct">
    <span class="icon is-small"><i class="fas fa-plus"></i></span>&nbsp;&nbsp;Add product</a>
